<!--шаблонная форма-->
<!--<div>
  <form #myForm="ngForm" (ngSubmit)="submitForm()">
    <div>Имя: <input name="name" ngModel/></div>
    <div>Возраст: <input name="age" ngModel/></div>
    <div>Профессия: <input name="profession" ngModel/></div>
    <button type="submit">Отправить</button>
&lt;!&ndash;    <button (click)="myForm.reset()">Очистить</button>&ndash;&gt;
  </form>
</div>-->

<!--реактивная форма-->
<!--<div>-->
<!--  <form [formGroup]="myForm" (ngSubmit)="submitForm()">-->
<!--    <div>Имя: <input formControlName="name"/></div>-->
<!--    <div *ngIf="myForm.invalid && myForm.touched" style="color: red">Возраст должен быть в цифрах</div>-->
<!--    <div>Возраст: <input formControlName="age"/></div>-->
<!--    <div>Профессия: <input formControlName="profession"/></div>-->
<!--    <button [disabled]="myForm.invalid" type="submit">Отправить</button>-->
<!--  </form>-->
<!--</div>-->
